<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-item>
        <ion-label>ioninput1</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput2</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput3</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput4</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput5</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput6</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput7</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput8</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput9</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput10</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput11</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>ioninput12</ion-label>
        <ion-input></ion-input>
    </ion-item>

</ion-content>